* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 120rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header{
    height: 2.75rem;
    background-color: #350D36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* main-section */
.main-section{
    display: flex;
}

/* aside */
.aside{
    width: 15.25rem;
    min-height: calc(100vh - 2.75rem);
    background-color: #3F0E40;
}

/* main */
.main{
    flex: 1;
}

/* 
 When width of the screen becomes less then 600px, the aside section is removed.
 This create more space for main section.
*/
@media (max-width: 600px) {
    .aside{
        display: none;
    }
}